a:visited{
    color: rgb(255, 238, 0);
} 
a:hover{
    color: red;
}
a:active{
    color:greenyellow;
}



/* article p:first-child{
    font-weight: bold;
    background-color: red;
} */
 /* div input:last-child{
     background-color: red;
 }


article p:first-of-type{
    font-weight: bold;
}
article p:last-of-type{
    color: blue;
}

article.featured-content{
    background-color: grey;
}
div.featured-content{
    background-color: rgb(248, 21, 173);
} */
/* *{
    color: lime;
} */


article{
    font-size: 16px;
}
article h2{
 font-size: 2em;   
}
article h2, article p{
    font-family: totallyAwsomeFont, HamFont, sans-serif;
}


a{
    text-decoration: none;
}