a:visited{
    color: rgb(238, 255, 0);
} 
a:hover{
    color: red;
}
a:active{
    color:greenyellow;
}



/* article p:first-child{
    font-weight: bold;
    background-color: red;
} */
 div input:last-child{
     background-color: red;
 }


article p:first-of-type{
    font-weight: bold;
}
article p:last-of-type{
    color: blue;
}
