p{
    font-size: 18px;
    color: aqua;
}
#header p {
    font-size: 24px;
}
#mtavars{
    color: red;
}
h1{
    font-size: 44px;
}
/* a{
    text-decoration: underline;

} */
div{
    width: 100%;
    background-color:whitesmoke;
}
.test1{
    color: greenyellow;
}
strong{
    color: pink;
}
.pipi{
    color: red !important;
}
#main-content > p{
    color: blue;
}
.dudu{
    color:darkred;
    font-size: 18px;
    font-weight: bold;
}
span[class]{
    color: purple;
}
a[title="google"]{
    color: orange;
}
a[href$="pdf"]{
    color: red;
}
